*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("hatter.jpeg");
    background-size: cover;
}

header{
    background-color: brown;
    color: whitesmoke;
}

header p{
    text-align: center;
}

main{
    
    height: 100;
}

h1{
    color: white;
}

.bal{
    float: left
}

.szöveg{
    float: left;
}

.jobb{
    float: right;
}