*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("hatter.jpeg");
    background-size: cover;
}

header{
    padding-left: 5px;
    background-color: brown;
    color: whitesmoke;
}

header p{
    display: inline;
    border-right: 1px solid white;
    padding-right: 5px;
}
header p:last-child{
    border: none;
}

main{
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
    height: 100;
}

main div{
    width: 100%;
}

main div img{
    width: 100%;
}

.szoveg{
    padding-top: 10%;
    background-image: url("papir.png");
    background-size:100%;
    background-repeat: no-repeat;
    width: 90%;
    
    text-align: center;
}

h1{
    text-align: center;
}

.gomb{
    display: inline-block;
    width: 30%;
    padding: 0.5%;
    margin-top: 2%;
    text-align: center;
    background-color: grey;
    border: 3px solid black;
    border-radius: 16px;
    font-size: 40px;
    font-variant: small-caps;
}

.gomb:hover{
    background-color: lightgray;
}

