*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("hatter.jpeg");
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-size: 90px;
}
header{
   background-color: black;
}
 main img{
    height: 150px;
}
h2{
    color: white;
}
button{
    background-color: w;
    height: 100px;
    width: fit-content,150px;
}
.jobbra{
    float: right;
    padding: 80px;
    width: 33.33%;
}


.gomb img{
    margin-top: 5px;
    position: absolute;
    z-index: 2;
    width: 5%;
    padding: 5px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 16px;
}

.gomb img:hover{
    background-color: lightgray;
}
